body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.title{
    font-size: 3rem;
    color: rgb(84, 4, 159);
}
.input{
    border: 1px solid rgb(107, 215, 0);
    border-radius: 10px;
    width: 100%;
}
.input:hover{
    border:3px solid green;
}
#filter{
    border-radius: 10px;
    background-color: rgb(110, 183, 255); 
    color: white;  
}
.card{
    background-color: rgb(158, 248, 241);
}
#status{
    background-color: pink;
}

h2{
    color: blueviolet;
}
.divider{
   border: 1px solid black;
}
@media screen and (max-width: 768px){
    .card{
        font-size: 24px;
    }
    select{
        font-size: 22px;
    }
    .btn{
        font-size: 24px;
    }
    h2{
        font-size: 36px;
    }
    input{
        font-size: 22px;
    }
}